.header__medium_title {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 1440px;
}
.header__wrapper1 {
  align-items: center;
  display: flex;
  gap: 0px 52px;
}
.header__medium_title1 {
  color: #1d2830;
  font: 400 24px/1 "Josefin Sans", Helvetica, Arial, serif;
  height: 24px;
  letter-spacing: -1.44px;
  margin: 12px 0px;
  width: 173px;
}
.header__wrapper2 {
  align-items: center;
  display: flex;
  gap: 0px 115px;
  height: 48px;
  margin: 0px 769px 0px 0px;
  width: 115px;
}